.blue {
	height: 28px;
	border: 1px solid #1d408e;
	border-bottom-color: #14347b;
	background-color:#3B5998;
	font:12px/18px "Helvetica Neue", Arial, sans-serif;
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4965a7), to(#304d91));
	background-image: -webkit-linear-gradient(top, #4965a7, #304d91);
	background-image: -moz-linear-gradient(top, #4965a7, #304d91);
	background-image: -o-linear-gradient(top, #4965a7, #304d91);
	background-image: -ms-linear-gradient(top, #4965a7, #304d91);
	background-image: linear-gradient(top, #4965a7, #304d91);
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-box-shadow: 0 1px #738fcf inset, 0 1px 2px #999;
	-moz-box-shadow: 0 1px #738fcf inset, 0 1px 2px #999;
	box-shadow: 0 1px #738fcf inset, 0 1px 2px #999;
}

.blue > li > a, .blue li > ul > li a {
	color: #fff;
	font-weight:bold;
	text-decoration: none;
	text-shadow: 0 1px #112042;
	padding: 5px 15px;
}

.blue > li, .blue li > ul > li {
	-webkit-transition: background-color .3s;
	-moz-transition: background-color .3s;
	-ms-transition: background-color .3s;
	transition: background-color .3s;
}

.blue > li:hover, .blue li > ul > li:hover {
	-webkit-box-shadow: 0 1px #738fcf inset;
	-moz-box-shadow: 0 1px #738fcf inset;
	box-shadow: 0 1px #738fcf inset;
	
	background-color: #5874b5;
}

.blue > li > a img, .blue li > ul > li > a img {
	border: 0;
	margin-right: 7px;
}

/* For the first menu level only ---------- */

.blue > li {border-right: 1px solid #5874b5;}
.blue > li > a {border-right: 1px solid #1d408e;}

.blue > li.floatr {
	border-right: none;
	border-left: 1px solid #1d408e;
}
.blue > li.floatr > a {
	border-right: none;
	border-left: 1px solid #5874b5;
}

.blue > li > a .bubble, .blue > li > a .bubble-red, .blue > li > a .bubble-blue, .blue > li > a .bubble-orange, .blue > li > a .bubble-purple {
	position: absolute;
	font-size: 11px;
	line-height: 14px;
	color: #fff;
	padding: 0 3px;
	right: 4px;
	top: -8px;
	text-shadow: none;
}
.blue > li > a .bubble-red, .blue > li > a .bubble {
	border: 1px solid #a00000;
	background-color: #ee3141;
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f26870), to(#ec0e23));
	background-image: -webkit-linear-gradient(top, #f26870, #ec0e23);
	background-image: -moz-linear-gradient(top, #f26870, #ec0e23);
	background-image: -o-linear-gradient(top, #f26870, #ec0e23);
	background-image: -ms-linear-gradient(top, #f26870, #ec0e23);
	background-image: linear-gradient(top, #f26870, #ec0e23);
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 0 1px #ffa7a7 inset;
	-moz-box-shadow: 0 1px #ffa7a7 inset;
	box-shadow: 0 1px #ffa7a7 inset;
}
.blue > li > a .bubble-orange {
	border: 1px solid #a04100;
	background-color: #f07f42;
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f0925f), to(#ec6818));
	background-image: -webkit-linear-gradient(top, #f0925f, #ec6818);
	background-image: -moz-linear-gradient(top, #f0925f, #ec6818);
	background-image: -o-linear-gradient(top, #f0925f, #ec6818);
	background-image: -ms-linear-gradient(top, #f0925f, #ec6818);
	background-image: linear-gradient(top, #f0925f, #ec6818);
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 0 1px #ffc9a6 inset;
	-moz-box-shadow: 0 1px #ffc9a6 inset;
	box-shadow: 0 1px #ffc9a6 inset;
}
.blue > li > a .bubble-purple {
	border: 1px solid #6400a0;
	background-color: #9834ed;
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ae5ff1), to(#9318eb));
	background-image: -webkit-linear-gradient(top, #ae5ff1, #9318eb);
	background-image: -moz-linear-gradient(top, #ae5ff1, #9318eb);
	background-image: -o-linear-gradient(top, #ae5ff1, #9318eb);
	background-image: -ms-linear-gradient(top, #ae5ff1, #9318eb);
	background-image: linear-gradient(top, #ae5ff1, #9318eb);
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 0 1px #dca6ff inset;
	-moz-box-shadow: 0 1px #dca6ff inset;
	box-shadow: 0 1px #dca6ff inset;
}
.blue > li > a .bubble-blue {
	border: 1px solid #002fa0;
	background-color: #397ced;
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6096f1), to(#195fec));
	background-image: -webkit-linear-gradient(top, #6096f1, #195fec);
	background-image: -moz-linear-gradient(top, #6096f1, #195fec);
	background-image: -o-linear-gradient(top, #6096f1, #195fec);
	background-image: -ms-linear-gradient(top, #6096f1, #195fec);
	background-image: linear-gradient(top, #6096f1, #195fec);
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 0 1px #a6c1ff inset;
	-moz-box-shadow: 0 1px #a6c1ff inset;
	box-shadow: 0 1px #a6c1ff inset;
}

/* --------------------------------------- */

.blue ul {
	border: 1px solid #14347b;
	border-top: none;
	
	background-color:#3B5998;
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4965a7), to(#304d91));
	background-image: -webkit-linear-gradient(top, #4965a7, #304d91);
	background-image: -moz-linear-gradient(top, #4965a7, #304d91);
	background-image: -o-linear-gradient(top, #4965a7, #304d91);
	background-image: -ms-linear-gradient(top, #4965a7, #304d91);
	background-image: linear-gradient(top, #4965a7, #304d91);
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-top-left-radius: 0;
}
.blue li.floater ul {
	border-top-left-radius: 3px;
	border-top-right-radius: 0;
}

.blue ul .bubble {
	background-color: #1d408e;
	border-bottom: 1px solid #8aa1e0;
	font-size: 11px;
	line-height: 14px;
	padding: 2px 8px;
	position: absolute;
	right: 6px;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	-webkit-box-shadow: 0 1px 2px #122047 inset;
	-moz-box-shadow: 0 1px 2px #122047 inset;
	box-shadow: 0 1px 2px #122047 inset;
}

.blue ul li {border-top: 1px solid #1d408e;}
.blue ul li a {border-top: 1px solid #5874b5;}
.blue > li > ul > li:first-child {border-top-color: #14347b;}

.blue > li > ul {left: -1px;}
.blue ul ul {top: -1px;}
.blue > li.floatr > ul {
	right: -1px;
	left: auto;
}
.blue > li.floatr > ul ul {left: -127px;}

/* Mega menu ----------------------------- */

.blue li > div {
	border: 1px solid #14347b;
	border-top: none;
	color:#fff;
	
	background-color:#5874b5;
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#5874b5), to(#3B5998));
	background-image: -webkit-linear-gradient(top, #5874b5, #3B5998);
	background-image: -moz-linear-gradient(top, #5874b5, #3B5998);
	background-image: -o-linear-gradient(top, #5874b5, #3B5998);
	background-image: -ms-linear-gradient(top, #5874b5, #3B5998);
	background-image: linear-gradient(top, #5874b5, #3B5998);
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-top-left-radius: 0;
}
.blue li.floatr > div {
	border-top-left-radius: 3px;
	border-top-right-radius: 0;
}

.blue > li:first-child > div {left: -1px;}
.blue > li > div {left: -2px;}
.blue > li.floatr > div {right: -1px; left: auto;}

.blue div ol {
	border:none;
	background:none;
	list-style:none;
	padding:5px 0 0;
	margin:0;
}

.blue div a {
	text-decoration:none;
	color:#ddd;
	padding:2px 0;
}

.blue div a:hover {
	color:#fff;
	text-decoration:underline;
}

.blue div p {
	margin:0;
	padding:5px 0;
	line-height:18px;
}

.blue div h4, .blue div h5, .blue div h6 {
	padding:0;
	margin:0;
	text-shadow: 0 1px #112042;
}

.blue div h4 {
	font-size:16px;
	font-weight:normal;
	border-bottom:1px solid #1d408e;
	padding-bottom:10px;
}

.blue div h5 {
	font-size:13px;
	font-weight:normal;
	border-bottom:1px solid #304d91;
	padding-bottom:5px;
}