/* For the first menu level only ---------- */
.menu, .menu ul {
	margin:0;
	padding:0;
	list-style:none;
}
.menu > li {float:left;}
.menu > li.floatr {float:right;}

/* --------------------------------------- */
.menu ul {
	position:absolute;
	display:none;
	width:180px;
}
.menu > li.floatr > ul {right:0;}
.menu li {position:relative;}
.menu li:hover > ul {display:block;}
.menu a {display:block;}
.menu ul ul {
	top:0;
	left:180px;
}
.menu > li.floatr > ul ul {left:-180px;}
.menu ul a {position:relative;}

/* --------------------------------------- */
.menu .cols1, .menu .cols2, .menu .cols3, .menu .cols4, .menu .cols5 {
	position:absolute;
	display:none;
	overflow:auto;
	padding:5px;
}
.menu .cols1 {width:160px;}
.menu .cols2 {width:320px;}
.menu .cols3 {width:480px;}
.menu .cols4 {width:640px;}
.menu .cols5 {width:800px;}

.menu > li.floatr > div {right:0;}
.menu > li:hover > div {display:block;}

.menu .col1, .menu .col2, .menu .col3, .menu .col4, .menu .col5 {float:left; padding:5px;}
.menu .col1 {width:150px;}
.menu .col2 {width:310px;}
.menu .col3 {width:470px;}
.menu .col4 {width:630px;}
.menu .col5 {width:790px;}