.gray {
	height: 28px;
	border: 1px solid #DADADA;
	border-bottom-color: #b8b8b8;
	background-color:#fff;
	font:12px/18px "Helvetica Neue", Arial, sans-serif;
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#E7E7E7));
	background-image: -webkit-linear-gradient(top, #ffffff, #E7E7E7);
	background-image: -moz-linear-gradient(top, #ffffff, #E7E7E7);
	background-image: -o-linear-gradient(top, #ffffff, #E7E7E7);
	background-image: -ms-linear-gradient(top, #ffffff, #E7E7E7);
	background-image: linear-gradient(top, #ffffff, #E7E7E7);
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-box-shadow: 0 1px #fff inset;
	-moz-box-shadow: 0 1px #fff inset;
	box-shadow: 0 1px #fff inset;
}

.gray > li > a, .gray li > ul > li a {
	color: #505050;
	font-weight:bold;
	text-decoration: none;
	text-shadow: 0 1px #fff;
	padding: 5px 15px;
	
	-webkit-transition: background-color .3s;
	-moz-transition: background-color .3s;
	-ms-transition: background-color .3s;
	transition: background-color .3s;
}

.gray > li, .gray li > ul > li {
	-webkit-transition: background-color .3s;
	-moz-transition: background-color .3s;
	-ms-transition: background-color .3s;
	transition: background-color .3s;
}

.gray > li:hover, .gray li > ul > li:hover {
	background-color: #eee;
}

.gray > li > a img, .gray li > ul > li > a img {
	border: 0;
	margin-right: 7px;
}

/* For the first menu level only ---------- */

.gray > li {border-right: 1px solid #f3f3f3;}
.gray > li > a {border-right: 1px solid #DADADA;}

.gray > li.floatr {
	border-right: none;
	border-left: 1px solid #DADADA;
}
.gray > li.floatr > a {
	border-right: none;
	border-left: 1px solid #f3f3f3;
}

.gray > li > a .bubble, .gray > li > a .bubble-red, .gray > li > a .bubble-blue, .gray > li > a .bubble-orange, .gray > li > a .bubble-purple {
	position: absolute;
	font-size: 11px;
	line-height: 14px;
	color: #fff;
	padding: 0 3px;
	right: 4px;
	top: -8px;
	text-shadow: none;
}
.gray > li > a .bubble-red, .gray > li > a .bubble {
	border: 1px solid #a00000;
	background-color: #ee3141;
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f26870), to(#ec0e23));
	background-image: -webkit-linear-gradient(top, #f26870, #ec0e23);
	background-image: -moz-linear-gradient(top, #f26870, #ec0e23);
	background-image: -o-linear-gradient(top, #f26870, #ec0e23);
	background-image: -ms-linear-gradient(top, #f26870, #ec0e23);
	background-image: linear-gradient(top, #f26870, #ec0e23);
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 0 1px #ffa7a7 inset;
	-moz-box-shadow: 0 1px #ffa7a7 inset;
	box-shadow: 0 1px #ffa7a7 inset;
}
.gray > li > a .bubble-orange {
	border: 1px solid #a04100;
	background-color: #f07f42;
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f0925f), to(#ec6818));
	background-image: -webkit-linear-gradient(top, #f0925f, #ec6818);
	background-image: -moz-linear-gradient(top, #f0925f, #ec6818);
	background-image: -o-linear-gradient(top, #f0925f, #ec6818);
	background-image: -ms-linear-gradient(top, #f0925f, #ec6818);
	background-image: linear-gradient(top, #f0925f, #ec6818);
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 0 1px #ffc9a6 inset;
	-moz-box-shadow: 0 1px #ffc9a6 inset;
	box-shadow: 0 1px #ffc9a6 inset;
}
.gray > li > a .bubble-purple {
	border: 1px solid #6400a0;
	background-color: #9834ed;
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ae5ff1), to(#9318eb));
	background-image: -webkit-linear-gradient(top, #ae5ff1, #9318eb);
	background-image: -moz-linear-gradient(top, #ae5ff1, #9318eb);
	background-image: -o-linear-gradient(top, #ae5ff1, #9318eb);
	background-image: -ms-linear-gradient(top, #ae5ff1, #9318eb);
	background-image: linear-gradient(top, #ae5ff1, #9318eb);
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 0 1px #dca6ff inset;
	-moz-box-shadow: 0 1px #dca6ff inset;
	box-shadow: 0 1px #dca6ff inset;
}
.gray > li > a .bubble-blue {
	border: 1px solid #002fa0;
	background-color: #397ced;
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6096f1), to(#195fec));
	background-image: -webkit-linear-gradient(top, #6096f1, #195fec);
	background-image: -moz-linear-gradient(top, #6096f1, #195fec);
	background-image: -o-linear-gradient(top, #6096f1, #195fec);
	background-image: -ms-linear-gradient(top, #6096f1, #195fec);
	background-image: linear-gradient(top, #6096f1, #195fec);
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 0 1px #a6c1ff inset;
	-moz-box-shadow: 0 1px #a6c1ff inset;
	box-shadow: 0 1px #a6c1ff inset;
}
.gray > li > a .bubble-macosx {
	font-size: 11px;
	position:absolute;
	right:3px;
	top:-14px;
	z-index:2;
	border: 2px solid #fff;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 0px 6px;
	text-shadow: none;
	color: #fff;
	background-color:#ee3343;

	-webkit-box-shadow: 0 1px 2px #777;
	-moz-box-shadow: 0 1px 2px #777;
	box-shadow: 0 1px 2px #777;

	background-image: -webkit-gradient(linear, left top, left bottom, from(#f26870), to(#ec0e23));
	background-image: -webkit-linear-gradient(top, #f26870, #ec0e23);
	background-image: -moz-linear-gradient(top, #f26870, #ec0e23);
	background-image: -o-linear-gradient(top, #f26870, #ec0e23);
	background-image: -ms-linear-gradient(top, #f26870, #ec0e23);
	background: linear-gradient(top, #f26870, #ec0e23);
}

/* --------------------------------------- */

.gray ul {
	border: 1px solid #DADADA;
	border-top: none;
	
	background-color:#e5e5e5;
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
	background-image: -webkit-linear-gradient(top, #eee, #ddd);
	background-image: -moz-linear-gradient(top, #eee, #ddd);
	background-image: -o-linear-gradient(top, #eee, #ddd);
	background-image: -ms-linear-gradient(top, #eee, #ddd);
	background-image: linear-gradient(top, #eee, #ddd);
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-top-left-radius: 0;
}
.gray li.floatr ul {
	border-top-left-radius: 3px;
	border-top-right-radius: 0;
}

.gray ul .bubble {
	background-color: #ccc;
	border-bottom: 1px solid #fff;
	font-size: 11px;
	line-height: 14px;
	padding: 2px 8px;
	position: absolute;
	right: 6px;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	-webkit-box-shadow: 0 1px 2px #888 inset;
	-moz-box-shadow: 0 1px 2px #888 inset;
	box-shadow: 0 1px 2px #888 inset;
}

.gray ul li {border-top: 1px solid #DADADA;}
.gray ul li a {border-top: 1px solid #f3f3f3;}
.gray > li > ul > li:first-child {border-top-color: #b8b8b8;}

.gray > li:first-child > ul {left: -1px;}
.gray > li > ul {left: -2px;}
.gray ul ul {top: -1px;}
.gray > li.floatr > ul {right: -1px; left: auto;}
.gray > li.floatr > ul ul {left: -127px;}

/* Mega menu ----------------------------- */

.gray li > div {
	border: 1px solid #DADADA;
	border-top: none;
	
	background-color:#eee;
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
	background-image: -webkit-linear-gradient(top, #eee, #ddd);
	background-image: -moz-linear-gradient(top, #eee, #ddd);
	background-image: -o-linear-gradient(top, #eee, #ddd);
	background-image: -ms-linear-gradient(top, #eee, #ddd);
	background-image: linear-gradient(top, #eee, #ddd);
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-top-left-radius: 0;
}
.gray li.floatr > div {
	border-top-left-radius: 3px;
	border-top-right-radius: 0;
}

.gray > li:first-child > div {left: -1px;}
.gray > li > div {left: -2px;}
.gray > li.floatr > div {right: -1px; left: auto;}

.gray div ol {
	border:none;
	background:none;
	list-style:none;
	padding:5px 0 0;
	margin:0;
}

.gray div a {
	text-decoration:none;
	color:#333;
	padding:2px 0;
}

.gray div a:hover {
	color:#555;
	text-decoration:underline;
}

.gray div p {
	margin:0;
	padding:5px 0;
	line-height:18px;
}

.gray div h4, .gray div h5, .gray div h6 {
	padding:0;
	margin:0;
}

.gray div h4 {
	font-size:16px;
	font-weight:normal;
	border-bottom:1px solid #bbb;
	padding-bottom:10px;
}

.gray div h5 {
	font-size:13px;
	font-weight:normal;
	border-bottom:1px solid #ccc;
	padding-bottom:5px;
}