body, html {
	font-family: verdana, sans-serif;
	margin: 0;
	padding: 0;
	color:#000;
	width: 1000px;
	padding: 20px 20px 20px 20px;
}

#page {
	padding: 0 40px;
	width:750px;
   	margin:0 auto;
	background:#99c;
}

#header {
	border-bottom: 1px solid;
	padding:5px 10px;
	text-align: left;
}

#menu {
	float: left;
	padding: 10px;
	width: 100px;
	font-weight: bold;
}

#headline {
	font-weight: bold;
}

#body {
	padding-top: 10px;
	padding-left: 130px;
	width: 800px;
}

#footer {
	border-top: 1px solid;
	color: black;
	padding:5px 10px;
	clear:both;
}

#footer p {
	font-size: 0.6em;
	margin: 0;
}


form#searchForm {
	float: left;
	margin: 0;
	text-align: right;
	width: 60%;
	display: inline;
}

form#loginForm {
	float: left;
	margin: 0;
	text-align: right;
	width: 60%;
	display: inline;
}

#question {
	margin: 0px 0px 0px 3px;
	text-align: left;
	float: left;
}

div#answer {
	color: blue;
	font-weight: bold;
	padding-bottom: 1em;
}

div#note{
	font-size: 0.8em;
	padding:10px 1px;
	color: blue;
}

div#list {
	display:inline;
}

a {
	text-decoration: none;
	color: gray;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none
}

a:active {
	text-decoration: none
}

a:hover {
	text-decoration: underline;
	color: black;
}

li {
	list-style-type: none;
}


form > fieldset { 
  border: 1px solid; 
  padding: 4px; 
  padding-bottom: 8px;
  margin: 0 0 10px; 
}

legend {
  margin-bottom: 0.25em;
  margin-left: 0.25em;
  color: black;
}

#saveButton {
	border:solid 1px;
	cursor:pointer;
}
#saveButton:hover {
	text-decoration: underline;
}

.error {
	font-size: 0.6em;
	color: red;
}
.errorPage {
	color: #BF0000;
}
div#headerImage {
	margin-left: -100px;
	float: left;
	}
table.entryList {
	text-align: left;
	border: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
}

table.questEdit {
	text-align: left;
	border: 0px;
	border-collapse: collapse;
	border-spacing: 2px;
}

table.entryEdit {
	text-align: left;
	border: 0px;
	border-collapse: collapse;
	border-spacing: 2px;
}
