li.selected {
	list-style-type: disc;
}

.status-update {
	margin: 10px 0;
	padding: 15px;
	clear: both;
	overflow: auto;
	border: 1px dotted black;
	clear: both;
}

.status-update .profile-picture {
	float: left;
}

.status-update .content {
	float: left;
}

.status-update .delete-status-update {
	float: right;
}

.status-update .when {
	display: block;
}

#no-more-status-updates {
	background-color: yellow;
	border: 1px dotted black;
	clear: both;
	display: block;
	font-size: 150%;
	margin: 20px 0;
	padding: 20px;
	text-align: center;
	color: black;
}

#show-more-status-updates {
	background-color: #56A2DD;
	cursor: pointer;
	border: 1px dotted black;
	display: block;
	font-size: 150%;
	padding: 10px;
	width: 100%;
	border: 1px dotted black;
}

#create-status-update #smileys-buttons {
	display: block;
	margin: 10px;
	text-align: center;
}

#create-status-update textarea {
	border: 1px dotted black;
	width: 100%;
}

#send-status-update {
	background-color: #56A2DD;
	border: 1px dotted black;
	cursor: pointer;
	display: block;
	font-size: 150%;
	margin: 5px 0;
	width: 100%;
}

input {
	border: 1px dotted black;
}

#register input {
	margin: 0 2px;
	font-size: 130%;
}

.birthday-picker {
	display: inline;
}

#register select {
	font-size: 130%;
	border: 1px dotted black;
}

.text-wrapper {
	font-size: 130%;
	line-height: 30px;
}

#description {
	border: 1px dotted black;
	width: 100%;
}

.error {
	color: red;
}

#register .error {
	font-size: 140%;
	display: block;
}