body, html {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 1em;
  font-family: inherit;
  vertical-align: baseline;
  line-height: 1.5;
  color: #222;
  background: #FFFFFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.topheader { height:60px; position: relative; margin: 0px auto; width:960px; padding-top:20px;}

.container {
  width: 960px;
  margin: 0 auto; }
  
.container:before,.container:after{display:table;content:"";zoom:1;}

/* Headings -------------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #555555; }


h1.navigation {
	font-size: medium;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 2px;
}

h1.header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80px;
	font-weight: bold;
	color: black;
}



p {
  margin: 0 0 1.5em; }

/* Other -------------------------------------------------------------------------- */

p {
	margin-top: 0px;
	margin-bottom: 4px;
}

/* Lists -------------------------------------------------------------------------- */

ul.navigation {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
	text-indent: 6px;
}

ul.paddedleft {
	padding-left: 15px;
}

li.selected {
	font-weight: bold;
	color: #c21200;
	list-style-image:url('../img/checked.png');
}

/* Links -------------------------------------------------------------------------- */

a:link {
	text-decoration: none;
	color: #393939;
}

a:vlisited {
	text-decoration: none;
	color: #393939;
}

a:hover {
	text-decoration: underline;
	color: #c21200;
}

a:active {
	text-decoration: underline;
	color: #c21200;
} 

a.navigation:link {
	text-decoration: none;
	color: #393939;
}

a.navigation:visited {
	text-decoration: none;
	color: #393939;
}

a.navigation:hover {
	text-decoration: underline;
	color: #c21200;
}

a.navigation:active {
	text-decoration: underline;
	color: #c21200;
}


table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

table, td, th {
  vertical-align: middle; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a img {
  border: none; }

html {
  font-size: 100.1%; }

body {
  font-size: 80%;
  color: #222;
  background: #FFFFFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #555555; }

h1 {
  font-size: 4em;
  font-weight:bold;
  letter-spacing:-1px;
  font-family: 'Convergence', sans-serif;
  line-height: 1.0;
  margin-bottom: 0.1em;
  color:#333; }

h2 {
  font-size: 2em;

  margin-bottom: 0.75em;
  line-height:20px;
  padding-bottom:15px; }

h3 {
  font-size: 2em;
  line-height: 1;
  margin-bottom: 1em; }

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em; }

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em; }

h6 {
  font-size: 1em;
  font-weight: bold; }

p {
  margin: 0 0 1.5em; }

a:focus, a:hover {
  color: #000; }

a {
  color: #009;
  text-decoration: underline; }

blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic; }

strong {
  font-weight: bold; }

sup, sub {
  line-height: 0; }

li ul, li ol {
  margin: 0; }

ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

dl {
  margin: 0 0 1.5em 0; }

dl dt {
  font-weight: bold; }

dd {
  margin-left: 1.5em; }

table {
  margin-bottom: 1.4em;
  width: 100%; }

th {
  font-weight: bold; }

thead th {
  background: #c3d9ff; }

th, td, caption {
  padding: 4px 10px 4px 5px; }

tfoot {
  font-style: italic; }

caption {
  background: #eee; }

.small {
  font-size: .8em;
  margin-bottom: 1.875em;
  line-height: 1.875em; }

.large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em; }

.hide {
  display: none; }

.highlight {
  background: #ff0; }

.first {
  margin-left: 0;
  padding-left: 0; }

.last {
  margin-right: 0;
  padding-right: 0; }

.top {
  margin-top: 0;
  padding-top: 0; }

.bottom {
  margin-bottom: 0;
  padding-bottom: 0; }

.container {
  width: 960px;
  margin: 0 auto; }
  
.container:before,.container:after{display:table;content:"";zoom:1;}

.last, div.last {
  margin-right: 0; }
  
hr {
  background: #ddd;
  color: #ddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none; }

hr.space {
  background: #fff;
  color: #fff;
  visibility: hidden; }
  
.clearfix {
  display: block; }

.clear {
  clear: both; }

a, a:link, a:visited {
  color: #00AEF3;
  text-decoration: none; }

a:hover, a:focus {
  border: 0;
  color: #00C04A;
  outline: 0;
  -moz-outline-style: none; }

a:active {
  border: 0;
  outline: 0;
  -moz-outline-style: none; }

body {
  margin: 0;
  padding: 0;
  color: #555555;
  height: 100%; }

ul {
  list-style-type: none; }

input:focus, input:active {
  outline: 0;
  -moz-outline-style: none; }

blockquote {
  font-family: Baskerville, Georgia, Times, serif;
  font-size: 2em;
  line-height: 160%;
  margin: 0;
  padding: 0 30px; }


.hide {
  display: none; }

.clear {
  clear: both; }

a:link span.popup,
a:visited span.popup {
  background: #555555;
  background: rgba(0, 0, 0, 0.75);
  border: 0;
  color: #fff;
  font-size: 11px;
  font-weight: normal;
  display: none;
  line-height: 160%;
  padding: 6px 10px;
  position: absolute;
  text-shadow: none;
  width: auto;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px;
  z-index: 10; }

a:link div.popup-wrapper {
  display: none; }

a:hover span.popup {
  display: block; }

.right {
  float: right; }


/* Tables -------------------------------------------------------------------------- */

/*** General ***/

table.striped100 {
	width: 100%;
	border-collapse: collapse;
}

table.striped80 {
	width: 80%;
	border-collapse: collapse;
}

table.padded {
	
}

th.whiteborder {
	font-weight: normal;
	text-align: left;
	border: 2px solid #ffffff;
	padding: 3px;
}

th.graybackground {
	
	text-align: left;
	padding: 3px;
	height: 22px;
	border: 1px solid #1d408e;
	border-bottom-color: #14347b;
	background-color:#3B5998;
	font:12px/18px "Helvetica Neue", Arial, sans-serif;
	color: #fff;
	font-weight:bold;
	text-decoration: none;
	text-shadow: 0 1px #112042;
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4965a7), to(#304d91));
	background-image: -webkit-linear-gradient(top, #4965a7, #304d91);
	background-image: -moz-linear-gradient(top, #4965a7, #304d91);
	background-image: -o-linear-gradient(top, #4965a7, #304d91);
	background-image: -ms-linear-gradient(top, #4965a7, #304d91);
	background-image: linear-gradient(top, #4965a7, #304d91);
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	-webkit-box-shadow: 0 1px #738fcf inset, 0 1px 2px #999;
	-moz-box-shadow: 0 1px #738fcf inset, 0 1px 2px #999;
	box-shadow: 0 1px #738fcf inset, 0 1px 2px #999;
	
}

td.whiteborder {
	border: 2px solid #ffffff;
	padding: 3px;
}

td.padded {
	padding-top: 6px;
	padding-bottom: 0;
	padding-left: 3px;
	padding-right: 3px;
}

td.paddedSides {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 3px;
	padding-right: 3px;
}

td.paddedSidesCentered {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 3px;
	padding-right: 3px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

td.fillspace {
	width: 100%;
}

/* Fieldsets -------------------------------------------------------------------------- */
fieldset.striped {
}

/* Forms -------------------------------------------------------------------------- */

/*** Create questions ***/

form.striped {
	padding: 3px;
}

.error {
	font-size: small;
	color: red;
}

.example {
	font-size: small;
	color: #5a5a5a;
}

/* Page structure -------------------------------------------------------------------------- */

#page {
	width: 1000px;
	margin: 0 0 0 0;
	padding: 40px 40px 40px 40px;
}

#header {
	margin: 0 0 0 0;
	padding: 10px 10px 10px 10px;
}



/* Content */

.center-content {
  background-color: #ededed;
  padding: 10px;
  width: 960px;
  zoom: 1;
    -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px; }

.center-content:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.content {
  background-color: #fff;
  padding: 15px 20px 10px 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px;
   }

.right-content {
  float: left;
  padding-left:10px;
  width: 715px; }

input.text {
  width: 95%;
  max-width: 610px;
  padding: 0 10px;
  margin: 7px 0 0 0;
  color: #999;
  border: 1px solid #cccccc;
  font: inherit;
  font-size: 1.2em;
  outline: 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-transition: .1s -webkit-box-shadow ease-in; 
  height: 35px;
  line-height: 35px;}

input.text.italic {
  font-style: italic !important;
  font-family:"Georgia", Times New Roman, Times, serif;
 }

input.text:focus {
  color: #999;
  border: 1px solid #75B9F0;
  -moz-box-shadow: 0 0 1px #75B9F0;
  -webkit-box-shadow: 0 0 1px #75B9F0;
  box-shadow: 0 0 1px #75B9F0;
  -webkit-transition: .1s all ease-in; }

/*** Right ***/

.about-right {
  line-height: 24px; }

.about-right hr {
  background: none;
  border-bottom: 1px dotted #cccccc;
  height: 0;
  margin: 10px 0 0 0;
  width: 100%; }
  
.about-right p {
  font-size: 1.2em;
  margin: 15px 0; }

.about-right p.call-out {
  font-size: 1.4em; }

.about-right p.image-caption {
  margin: inherit; }

.about-right p.bio {
  margin-left: 143px; }
  
.about-right h1 {
  font-size: 30px;
  font-weight: 600;
   }

.about-right h2 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 36px;
  padding-bottom: 10px;
  width: 520px; }

.about-right h3 {
  font-size: 1.8em;
  font-weight: 600;
  line-height: 1.3em;
  margin: 30px 0 15px 0; }

.about-right h4 {
  font-size: 1.3em;
  font-weight: 600;
  margin: 30px 0 0 0; }

.about-right ul {
  list-style-type: circle; }


/*** FOOTER ***/
.footer-container {
  background-color: #fff; 
}

.footer {
  margin: auto;
  width: 960px;
}

.footer ul li {
  border-bottom: 1px solid #cccccc;
  padding: 3px 0; }

.footer a {
  color:#555; }

.footer-top {
  padding: 20px 0;
  zoom: 1; }

.footer-top:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.footer-top h3 {
  font-size: 1em;
  font-weight: bold; }

.footer-top-column {
  float: left;
  margin: 0 20px 0 0;
  padding: 0;
  width: 300px;
  vertical-align: top; }

.footer-top-column.last {
  margin: 0; }

.footer-top-column p {
  margin-bottom: 8px; }

.statistics {
  color:#555!important;
  padding-top: 10px;
  height:45px;
  padding-top:20px;
  padding-bottom:20px;
  padding-left:10px;

   }

.statistics:after {
  display: block;
  clear: both;
  }

.statistics div.stat_number {
  float: right; }

.statistics div.stat_number span.hours {
  
  font-size: 2.2em;
  font-weight: bold;
  line-height: 1.2em;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 4px 8px 4px;
  margin-left:15px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  }

.statistics div.stat_number div.alignright {
  float: right;
  padding: 3px 0 0 10px; }

.statistics div.stat_number div.alignright p {
  font-size: 0.9em;
  line-height: 1em;
  margin: 0; }

.footer-bottom {
  width:960px;
  margin: 0 auto;
  background-color:#fff;
  border: 0;
  padding-top: 10px;
  padding-bottom:20px;
  zoom: 1; 
  border-top:1px solid #ccc;
}


.footer-bottom a {
color:#666;
}


.footer-bottom:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.footer-bottom ul li {
  border: 0;
  border-right: 1px solid #cccccc;
  display: inline;
  padding: 0 10px 0 10px}

.footer-bottom span.copyright {
  float: right;
 }

.footer input.text {
  margin: 10px 0 17px;
  width: 275px; }


/* Side Rail */
.side-rail {
  float: left;
  margin: 0; }

.side-rail.left-rail {
  margin-right: 5px;
  width: 230px; }

.side-rail.right-rail {
  margin-left: 20px;
  width: 360px; }

.side-rail .side-nav {
  background-color: #fff;
  margin-bottom: 5px;
  padding: 15px;
   }

.title-underline {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 5px;
  padding-bottom: 5px; }

.title-sidenav {
  color: #555555;
  font-size: 1.2em;
  font-weight: 600; }

.navigation-links ul {
  margin: 0;
  padding: 0;
  list-style:none; }

.navigation-links ul li {
  font-size: 1.1em;
  line-height: 2.5; }
  
.navigation-links ul li.active{
  font-size: 1.1em;
  color: #00AEF3!important;
  line-height: 2.5; 
  font-weight:600;}
  
.faq-links ul {
  margin: 0;
  padding: 0;
  list-style:none; }

.faq-links ul li {
  font-size: 1.1em;
  line-height: 2.5;
  border-bottom:1px dotted #ccc; }
  
.faq-links ul li.active{
  font-size: 1.1em;
  color: #00AEF3!important;
  line-height: 2.5; 
  font-weight:600;}

.faq-nav ul li {
  border-bottom: 1px solid #eee;
  line-height: 2em; }
  
.social-nav ul li {
  border-bottom: 1px solid #eee;
  line-height: 1.2em; }
  
.social-links ul {
  margin: 0;
  padding: 0;
  list-style:none; }

.social-links ul li {
  font-size: 1.1em;
  line-height: 1.7;
  border-bottom:1px dotted #ccc; }
  
.social-links ul li.active{
  font-size: 1.1em;
  color: #00AEF3!important;
  line-height: 2.5; 
  font-weight:600;}
  
.side-nav ul li {
  border-bottom: 1px solid #eee;
  line-height: 2em; }

.side-nav ul li a:link,
.side-nav ul li a:visited {
  color: #555555;
  display: block; }

.side-nav ul li a:hover,
.side-nav ul li a:focus {
  color: #888888; }

/* Numbers */

#numbers  {
  position: relative;
  padding: 0; }

#numbers .numbers-column {
  float: left;}

#numbers .numbers-column .btn {
  display: block;
  padding: 0px 20px 15px 20px;
  color: #555555; }
  
  #numbers .numbers-column .btn-first {
  display: block;
  padding: 0px 20px 15px 0px;
  color: #555555; }

#numbers .numbers-column .btn:hover .numberdescription {
  text-decoration: underline; }

#numbers .numbers-column .number {
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  line-height: 13px;
  margin-bottom: 4px; }

#numbers .numbers-column .numberdescription {
  color: #aaa;
  display: block;
  font-size: 0.9em;
  line-height: 11px; }

#numbers:after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

#numbers{
  zoom: 1; }

.side-rail .side-nav,
.statistics {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  }
  

/* Buttons */
 .btn-sm {
  height: 30px;
  font-size: 13px;
  padding: 0 9px; }
  
  .btn-small {
  height: 20px;
  float:right;
  font-size: 11px;
  padding: 0 10px; }

 .btn-start {
  height: 40px;
  font-size: 14px;
  padding: 0 15px;
  margin-right:10px; }
  
  .btn-newsletter {
  height: 26px;
  font-size: 13px;
  padding: 0 15px; }
  
/* Main button */
.btn-main {
  background-color: #00AEF3;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1CBCF1), to(#00AEF3));
  background-image: -webkit-linear-gradient(top, #1CBCF1, #00AEF3);
  background-image: -moz-linear-gradient(top, #1CBCF1, #00AEF3);
  background-image: -ms-linear-gradient(top, #1CBCF1, #00AEF3);
  background-image: -o-linear-gradient(top, #1CBCF1, #00AEF3);
  border: 1px solid #008BC2;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  margin: 0;
  text-shadow: 0 -1px 0 #0082B5; }

.btn-main:hover,
.btn-main:focus{
  background-color: #FF7F44;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00AEF3), to(#1CBCF1));
  background-image: -webkit-linear-gradient(top, #00AEF3, #1CBCF1);
  background-image: -moz-linear-gradient(top, #00AEF3, #1CBCF1);
  background-image: -ms-linear-gradient(top, #00AEF3, #1CBCF1);
  background-image: -o-linear-gradient(top, #00AEF3, #1CBCF1);
  text-decoration: none; }

.btn-main:active
{
  background-color: #FF7F44;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1CBCF1), to(#00AEF3));
  background-image: -webkit-linear-gradient(top, #1CBCF1, #00AEF3);
  background-image: -moz-linear-gradient(top, #1CBCF1, #00AEF3);
  background-image: -ms-linear-gradient(top, #1CBCF1, #00AEF3);
  background-image: -o-linear-gradient(top, #1CBCF1, #00AEF3); }
  
  .btn-green{
  background-color: #3AC24D;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6AC54B), to(#53AD2B));
  background-image: -webkit-linear-gradient(top, #6AC54B, #53AD2B);
  background-image: -moz-linear-gradient(top, #6AC54B, #53AD2B);
  background-image: -ms-linear-gradient(top, #6AC54B, #53AD2B);
  background-image: -o-linear-gradient(top, #6AC54B, #53AD2B);
  border: 1px solid #479C28;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  margin: 0;
  text-shadow: 0 -1px 0 #479C28; }

.btn-green:hover,
.btn-green:focus{
  background-color: #5EB836;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#74CF55), to(#5EB836));
  background-image: -webkit-linear-gradient(top, #74CF55, #5EB836);
  background-image: -moz-linear-gradient(top, #74CF55, #5EB836);
  background-image: -ms-linear-gradient(top, #74CF55, #5EB836);
  background-image: -o-linear-gradient(top, #74CF55, #5EB836);
  text-decoration: none; }

.btn-green:active
{
  background-color: #5EB836;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5EB836), to(#74CF55));
  background-image: -webkit-linear-gradient(top, #5EB836, #74CF55);
  background-image: -moz-linear-gradient(top, #5EB836, #74CF55);
  background-image: -ms-linear-gradient(top, #5EB836, #74CF55);
  background-image: -o-linear-gradient(top, #5EB836, #74CF55); }
  
  .btn-fb {
  background-color: #00AEF3;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5371B2), to(#335795));
  background-image: -webkit-linear-gradient(top, #5371B2, #335795);
  background-image: -moz-linear-gradient(top, #5371B2, #335795);
  background-image: -ms-linear-gradient(top, #5371B2, #335795);
  background-image: -o-linear-gradient(top, #5371B2, #335795);
  border: 1px solid #2F4B85;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  margin: 0;
  text-shadow: 0 -1px 0 #2F4981; 
  margin-left:5px;
  }

.btn-fb:hover,
.btn-fb:focus{
  background-color: #597AC1;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#597AC1), to(#4062AB));
  background-image: -webkit-linear-gradient(top, #597AC1, #4062AB);
  background-image: -moz-linear-gradient(top, #597AC1, #4062AB);
  background-image: -ms-linear-gradient(top, #597AC1, #4062AB);
  background-image: -o-linear-gradient(top, #597AC1, #4062AB);
  text-decoration: none; }

.btn-fb:active
{
  background-color: #FF7F44;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#335795), to(#5371B2));
  background-image: -webkit-linear-gradient(top, #335795, #5371B2);
  background-image: -moz-linear-gradient(top, #335795, #5371B2);
  background-image: -ms-linear-gradient(top, #335795, #5371B2);
  background-image: -o-linear-gradient(top, #335795, #5371B2); }

.media-grid {}
.media-grid:before,.media-grid:after{display:table;content:"";zoom:1;}
.media-grid:after{clear:both;}
.media-grid a{float:left; padding:5px; margin-bottom:20px; -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px; border:1px solid #fff;}
.media-grid a img{ -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px; }
.media-grid a:hover{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px; border:1px solid #0069d6;-webkit-box-shadow:0 1px 4px rgba(0, 105, 214, 0.25);-moz-box-shadow:0 1px 4px rgba(0, 105, 214, 0.25);box-shadow:0 1px 4px rgba(0, 105, 214, 0.25);}


.topheader { height:60px; position: relative; margin: 0px auto; width:1000px; padding-top:20px;}

.topbar div>ul,.nav{display:block;float:left;margin:0 10px 0 0;position:relative;left:0;}
.topbar div>ul>li,.nav>li{display:block;float:left;}
.topbar div>ul a,.nav a{display:block;float:none;padding:10px 10px 11px;text-decoration:none; font-weight:500!important; }
.topbar div>ul a:hover,.nav a:hover{color:#00AEF3;text-decoration:none;}
.topbar div>ul .active>a,.nav .active>a{font-weight:500!important; color:#FF3C00;}

#search_box { 
	background:-moz-linear-gradient(top, #ffd73a, #ffa500); 
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffd73a), to(#ffa500)); 
	border:1px solid #d28703; 
	border-radius:5px; 
	-moz-border-radius:5px;
	-webkit-border-radius:5px; 
	-moz-box-shadow:inset 0 1px #ffff90, inset 0 -2px 5px #ffd05d, 0 0 0 4px rgba(255,255,255,0.65);
	-webkit-box-shadow:inset 0 1px #ffff90, inset 0 -2px 5px #ffd05d, 0 0 0 4px rgba(255,255,255,0.65);
	padding:5px;
	width:570px;
	width:870px;
}

#search_box .wrapper { 
	background:#fff; 
	color:#555;
	border:1px solid #d28703;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.3), 0 1px #ff0; 
	-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.3), 0 1px #ff0;
	height:30px;
	padding-left:10px;
	position:relative;
	width:858px;
}

#search_box2 { 
	background:-moz-linear-gradient(top, #8BDF6F, #87DA57); 
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#8BDF6F), to(#87DA57));  
	border:1px solid #5DB029; 
	border-radius:5px; 
	-moz-border-radius:5px;
	-webkit-border-radius:5px; 
	-moz-box-shadow:inset 0 1px #AFEDAD, inset 0 -2px 5px #AFEDAD, 0 0 0 4px rgba(255,255,255,0.65);
	-webkit-box-shadow:inset 0 1px #AFEDAD, inset 0 -2px 5px #AFEDAD, 0 0 0 4px rgba(255,255,255,0.65);
	padding:5px;
	width:570px;
	width:870px;
}

#search_box2 .wrapper { 
	background:#fff; 
	border:1px solid #5DB029;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.3), 0 1px #AFEDAD; 
	-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.3), 0 1px #AFEDAD;
	height:30px;
	padding-left:10px;
	position:relative;
	width:858px;
}

#search_box2 input,
#search_box2 input:focus { border:none;  outline:none; font:bold 18px Helvetica, Arial, sans-serif; width:625px; position:relative;
  -webkit-top:-2px; 
  -moz-top:-2px; 
  top:-2px;  }
#search_box2 input:blur { border:none;  outline:none; font:bold 18px Helvetica, Arial, sans-serif; width:625px;  }

#search_box input,
#search_box input:focus { border:none;  outline:none; font:bold 18px Helvetica, Arial, sans-serif; width:625px; position:relative;
  -webkit-top:-2px; 
  -moz-top:-2px; 
  top:-2px;  }
#search_box input:blur { border:none;  outline:none; font:bold 18px Helvetica, Arial, sans-serif; width:625px;  }

#search_box2 button {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 4px 14px 4px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 12px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
  position:relative;
  left:243px;
  -webkit-top:-6px; 
  -moz-top:-6px; 
  top:-6px;  
  height:42px;

}


#search_box2 button:hover,
#search_box2 button:focus
{
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#E1E1E1));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #E1E1E1);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #E1E1E1);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #E1E1E1);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #E1E1E1);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #E1E1E1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#E1E1E1', GradientType=0);
  border: 1px solid #999;
}

#search_box2 button:active
{
-webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
}

#search_box button {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 4px 14px 4px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 12px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
  position:relative;
  left:247px;
  -webkit-top:-6px; 
  -moz-top:-6px; 
  top:-6px;  
  height:42px;
 
}


#search_box button:hover,
#search_box button:focus
{
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#E1E1E1));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #E1E1E1);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #E1E1E1);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #E1E1E1);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #E1E1E1);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #E1E1E1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#E1E1E1', GradientType=0);
  border: 1px solid #999;
}

#search_box button:active
{
-webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
}

.gbutton {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 4px 14px 4px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 12px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
  position:relative;
  left:160px;
  -webkit-top:-6px; 
  -moz-top:-6px; 
  top:-6px;  
  height:42px;
 
}


.gbutton:hover,
.gbutton:focus
{
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#E1E1E1));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #E1E1E1);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #E1E1E1);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #E1E1E1);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #E1E1E1);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #E1E1E1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#E1E1E1', GradientType=0);
  border: 1px solid #999;
}

.gbutton:active
{
-webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
}

.gsmall {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 4px 14px 4px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  margin-right:5px;
  font-size: 10px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
  height:20px;
 
}


.gsmall:hover,
.gsmall:focus
{
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#E1E1E1));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #E1E1E1);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #E1E1E1);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #E1E1E1);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #E1E1E1);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #E1E1E1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#E1E1E1', GradientType=0);
  border: 1px solid #999;
}

.gsmall:active
{
-webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
}

.zoom
{
display:inline-block;
position:relative;
}

.zoom img 
{
display: block;
}

h2.content-heading {
  border-bottom: 1px dotted #cccccc;
  font-size: 2.4em;
  font-weight: 600;
  line-height: 1em;
  margin: 0 0 20px 0;
  padding: 0 0 12px 0;
  width: 100%; 
  color:#333;}
  
h3.content-heading {
  border-bottom: 1px dotted #cccccc;
  font-size: 1.8em;
  font-weight: 600;
  line-height: 1em;
  margin: 0 0 20px 0;
  padding: 5px 0 12px 0;
  width: 100%; 
  }
  
  p.biggertext {
  font-family: Helvetica, Arial, sans-serif;
font-size: 17px;
font-style: normal;
font-weight: 500;
text-transform: normal;
letter-spacing: normal;
line-height: 1.4em;
  margin: 0px 0 20px 0;
 }
 
   p.biggertextgeorgia {
font-family: Georgia, serif;
font-size: 20px;
font-style: italic;
font-weight: normal;
text-transform: normal;
letter-spacing: normal;
line-height: 1.4em;
 }
  
  p.normalext {
  font-size: 1em;
  margin: 0 0 20px 0;
 }
  
  
 #social-widgets 
 {border-top:1px solid #efefef;
  padding-top: 15px;}
 
 #social-widgets .twitter-share-button,#social-widgets .fb-like
 {vertical-align:top}
 #social-widgets .twitter-share-button{width:100px !important}
 #social-widgets #fb-root{display:inline-block}
 #social-widgets #___plusone_0{width:72px !important}


#top-link  { font-size:0.8em; display:none; position:fixed; right:5px; bottom:5px; color:#949494; font-weight:bold; text-decoration:none; border:1px solid #949494; background:#efefef; padding:10px;  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px; }
  
.grid25 {
width:120px;
padding: 15px;
float:left;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-khtml-border-radius: 3px;
border: 1px solid #efefef;
margin: 20px 20px 40px 0px;
display:inline;
}

.grid25 .title {
font-size:1.6em;
color:#00AEF3;
font-family: 'Convergence', sans-serif;
}

.grid25 .text {
width:80px;
font-size:1em;
color:#999;
line-height:12px;
}

.grid25last {
width:120px;
padding: 15px;
float:left;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-khtml-border-radius: 3px;
border: 1px solid #efefef;
margin: 20px 0px 40px 0px;
display:inline;
}

.grid25last .title {
font-size:1.6em;
color:#00AEF3;
font-family: 'Convergence', sans-serif;
}

.grid25last .text {
width:80px;
color:#999;
line-height:12px;
}
  
.grid33 {
width:177px;
padding: 15px;
float:left;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-khtml-border-radius: 3px;
border: 1px solid #efefef;
margin: 20px 20px 20px 0px;
display:inline;
}

.grid33 .title {
font-size:1.4em;
color:#00AEF3;
font-family: 'Convergence', sans-serif;
}

.grid33 .text {
width:170px;
font-size:1em;
color:#999;
line-height:16px;
padding-top:5px;
letter-spacing:0px;
}

.grid33last {
width:177px;
padding: 15px;
float:left;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-khtml-border-radius: 3px;
border: 1px solid #efefef;
margin: 20px 0px 20px 0px;
display:inline;

}

.grid33last .title {
font-size:1.4em;
color:#00AEF3;
font-family: 'Convergence', sans-serif;
}

.grid33last .text {
width:170px;
color:#999;
line-height:16px;
padding-top:5px;
letter-spacing:0px;
}

.grid50 {
width:292px;
padding: 15px;
float:left;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-khtml-border-radius: 3px;
border: 1px solid #efefef;
margin: 20px 20px 40px 0px;
display:inline;
}

.grid50 .title {
font-size:1.6em;
color:#00AEF3;
font-family: 'Convergence', sans-serif;
}

.grid50 .text {
width:120px;
font-size:1em;
color:#999;
line-height:12px;
}

.grid50last {
width:292px;
padding: 15px;
float:left;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-khtml-border-radius: 3px;
border: 1px solid #efefef;
margin: 20px 0px 40px 0px;
display:inline;
}

.grid50last .title {
font-size:1.6em;
color:#00AEF3;
font-family: 'Convergence', sans-serif;
}

.grid50last .text {
width:120px;
color:#999;
line-height:12px;
}

.start {
width:505px;
height:302px;
padding: 15px;
float:left;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-khtml-border-radius: 3px;
border: 1px solid #efefef;
margin: 0px 20px 0px 0px;
display:inline;
}

.start2 {
width:400px;
padding: 0px;
float:left;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-khtml-border-radius: 3px;

display:inline;
}

.gridstart {
width:273px;
padding: 15px;
float:left;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-khtml-border-radius: 3px;
border: 1px solid #efefef;
margin: 20px 20px 0px 0px;
display:inline;
height:130px;
}

.gridstart .title-blue {
font-size:2em;
color:#00AEF3;
font-family: 'Convergence', sans-serif;
}

.gridstart .title-green {
font-size:2em;
color:#00C04A;
font-family: 'Convergence', sans-serif;
}

.gridstart .title-orange {
font-size:2em;
color:#FF3C00;
font-family: 'Convergence', sans-serif;
}

.gridstart .title-yellow{
font-size:2em;
color:#FFCD00;
font-family: 'Convergence', sans-serif;
}

.gridstart .text {
width:273px;
font-size:1em;
line-height:16px;
}

.gridstartlast {
width:273px;
height:130px;
padding: 15px;
float:left;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-khtml-border-radius: 3px;
border: 1px solid #efefef;
margin: 20px 0px 10px 0px;
display:inline;
background-image:url(../img/map.gif);
background-repeat:no-repeat;
background-position:right;
}

.gridstartlast .title {
font-size:2em;
font-family: 'Convergence', sans-serif;
}

.gridstartlast .title-blue {
font-size:2em;
color:#00AEF3;
font-family: 'Convergence', sans-serif;
}

.gridstartlast .title-green {
font-size:2em;
color:#00C04A;
font-family: 'Convergence', sans-serif;
}

.gridstartlast .title-orange {
font-size:2em;
color:#FF3C00;
font-family: 'Convergence', sans-serif;
}

.gridstartlast .title-yellow{
font-size:2em;
color:#FFCD00;
font-family: 'Convergence', sans-serif;
}


.gridstartlast .text {
width:125px;
line-height:16px;
}

imggrid {
width:200px;
padding: 15px;
float:left;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-khtml-border-radius: 3px;
border: 1px solid #efefef;
margin: 20px 0px 40px 0px;
display:inline;
}

.twtr-ft { display: none; }

.twtr-hd { display: none; }


.twtr-tweet .twtr-tweet-text p { 
 
    color: #555;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-size:1.1em;
 
 
} 


.twtr-widget { 
    width: 100%; 
	padding-left:0px!important;
	margin-left:0px!important;
 
} 
 
 
.tweets { 
	padding-left:0px!important;
} 


.twtr-tweet-wrap {
    padding:6px 0 !important;
}